<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      body{ background-color: cadetblue; color:whitesmoke } h1{ font-size: 30px;
      } p{ font-size: 16px; } a{color:whitesmoke }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>